certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.6
cryptography==43.0.1
idna==3.11
invoke==2.2.1
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==24.2
pycparser==2.23
PyYAML==6.0.3
requests==2.33.1
resolvelib==1.2.1
urllib3==2.6.3
